<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Expenselist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <p>Welcome, <span th:text="${username}"></span>!</p>
    <h1>Expenses</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Comment</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.name}"></td>
                <td th:text="${expense.category}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.date}"></td>
                <td th:text="${expense.comment}"></td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/deleteexpense/{id}(id=${expense.id})}" class="btn btn-danger">Delete</a>
                    </div>
                </td>

                <td>
                    <a th:href="@{/editexpense/{id}(id=${expense.id})}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addexpense" class="btn btn-success">Add Expense</a>
    <div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out" class="btn btn-sm btn-danger" />
        </form>
    </div>
</body>

</html>